// Colors
$dayBodyBg: #E6E6E8;
$dayTextDefault: #6b6b6b;
$dayTopHeaderBg: #fff;
$dayTopContentBg: #fff;
$dayTableBorder: 1px solid #ddd;

$nightBodyBg: #1B1C1F;
$nightTextDefault: #b3b3b3;
$nightTopHeaderBg: #000;
$nightTopContentBg: #363636;
$nightTableBorder: 1px solid rgba(81, 93, 110, 0.4);


$lightText:#fff;
$darkText:#000;
$defaultText:#6b6b6b;
$linkColor:#7395e5;
$goldenColor:#e2b85f;
$borderColor:#ddd;
